VITE_TANSTACK_DEVTOOLS_ENABLED=true

VITE_API_URL=http://localhost:8080

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# - En dev: dejar vacío (usa el proxy de Vite en vite.config.ts)
VITE_DEEZER_API_URL=
